body {
    background-image: url(/Carta_restaurante/img/fondo_contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

a {
text-decoration: none;
}

@media (max-width: 576px) {
    #contacto {
        text-align: center;
        padding: 15px;
    }
}

#fb {
    width: 100px;
    height: 100px;
}

p {
    color: aliceblue;
    
}

#instagram {
    width: 100px;
    height: 100px;
}

#ubicacion {
    width: 100px;
    height: 100px;
}

#reserva {
    width: 100px;
    height: 100px;
}

#whatsapp {
    width: 100px;
    height: 100px;
}

#horario {
    color: white;
    text-decoration: underline;
}