body {
    background-image: url(/Carta_restaurante/img/fondo_home.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    }
    
@media (max-width: 576px) {
    #home {
        text-align: center;
        padding: 15px;
    }
}

#home {
    color: white;
}

#etc {
    display: flex;
    width: 500%;
    height: 500%;
    position: relative;
    top: 100px;
    left: 40px;
}

#horario {
    color: white;
    text-decoration: underline;
}

#fb {
    width: 100px;
    height: 100px;
}

p {
    color: aliceblue
    
}

#instagram {
    width: 100px;
    height: 100px;
}

#ubicacion {
    width: 100px;
    height: 100px;
}

#reserva {
    width: 100px;
    height: 100px;
}

#whatsapp {
    width: 100px;
    height: 100px;
}