body {
    background-image: url(/Carta_restaurante/img/fondo_menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    }
    
p {
    color: white;

}

#vaca {
    color: yellow;
}

@media (max-width: 576px) {
    #menu {
        text-align: center;
        padding: 15px;
    }
}
